@{
    ViewBag.Title = "Home Page";
}
@using ShoppingList.Web.Models
<div class="jumbotron">
    <center><h1><i>The</i> Shopping List</h1></center>
    <center><h3>The Only Shopping List You'll Ever Need</h3></center>
    <center><h3>Log in or register to begin.</h3></center>
    <div class="text-center">
    <div class="row">
        <button class="btn btn-primary btn-lg">@Html.ActionLink("Log in", "Login", "Account", null, new { style = "color:white" })</button>
        <button class="btn btn-primary btn-lg">@Html.ActionLink("Register", "Register", "Account", null, new { style = "color:white" })</button>
    </div>
    </div>
    <center><h3>Already logged in?</h3><button class="btn btn-primary btn-lg">@Html.ActionLink("Your Lists", "Index", "ShoppingList", null, new { style = "color:white" })</button> </center>

</div>




